/*Wrapper (main)*/

#wrapper {
  background-color: rgb(27, 158, 206);
  #sidebar + & {
    margin-left: _size(sidebar-width);

    // when the breakpoint is larger than usual
    //default web screen
    margin-left: 0;
    padding-top: _size(sidebar-height);

    //include breakpoint

    //#inclu
  }
  #header + & {
    background-color: aquamarine;
    > .wrapper {
      .inner {
        margin: 0 auto;
      }
    }
  }
}
